body{
    text-align: center;

   

}

.contact-list{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}

.contacts{
    display: flex;
    flex-direction: column;

}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    background-color: rgb(16, 61, 158);
    margin-bottom: 2px;
    color: white;
    padding: 5px;
}

.number{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.delete-button{
    margin: 10px;
}
.create-form{
    width: 300px;

}
.delete-button a{
    text-decoration:  none;
    color: wheat;
}