<html>

<head>
    <title>
        <%= locals.title%>
    </title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <div class="contact-list">
        <div class="contacts">
            <% for (let i of contact_list) { %>
                <div class="contact">
                    <div class="name">
                        <%=i.name%>
                    </div>
                    <div class="number">
                        <%=i.phone%>
                            <div class="delete-button">
                                <a href="/delete-contact?id=<%=i._id %> ">Remove</a>
                            </div>
                    </div>

                </div>
                <% } %>
                <form class="create-form" action="/create-contact" method="POST">
                    <input type="text" name="name" placeholder="Enter name" required>
                    <input type="number" name="phone" placeholder="Enter phone" required>
                    <button type="submit">Add contact</button>
                </form>
        
        </div>
      


    </div>

   
    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>